<!DOCTYPE html>
<html lang="pt-br" xmlns:th>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <LINK rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <title>+ CADASTRO ITENS</title>
  <meta name="author" content="Joao Pedro"/>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
      <h4>+ Inserir item</h4>
      <hr>
        <!--NOME ITEM-->
          <form method="post" action="/insertItem" th:object="${item}">
            <div class="row"></div>
              <div class="col-md-5"></div>
              <label>Nome item: </label>
              <input placeholder="Ex: Iphone 12" th:field="*{nome}">

                <!--PRECO ITEM-->
              <div class="row"></div>
              <div class="col-md-5"></div>
              <label>Valor: </label>
              <input placeholder="Ex: 2345,33" th:field="*{preco}">

              <!--QUANTIDADE-->
              <div class="row"></div>
              <div class="col-md-5"></div>
              <label>Quantidade: </label>
              <input placeholder="Ex: 12" th:field="*{quantidade}">

              <!--CATEGORIA-ESTOQUE-->
              <div class="row"></div>
              <div class="col-md-5"></div>
              <label>Categoria: </label>
              <input placeholder="Ex: Smartphone" th:field="*{quantidade}">
          </form>
    </div>


</body>
</html>